include(default)
[settings]
compiler.runtime=static
os.wp_profile_version=2
[conf]
tools.cmake.cmaketoolchain:user_toolchain+={{profile_dir}}/windows.toolchain.cmake
tools.cmake.cmaketoolchain:generator=Ninja